.footer {
  padding-bottom: 50px;
}
.footer .footer-content {
  padding-left: 50px;
  border-radius: 32px;
  background: #02897a;
  display: flex;
  padding-top: 14px;
  justify-content: space-between;
  column-gap: 10px;
}
.footer .p1 {
  padding-top: 35px;
  padding-bottom: 50px;
  color: #fff;
  max-width: 510px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}
.btn6 {
  border: none;
  color: #02897a;
  padding: 10px 33px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #fff;
}
@media (max-width: 795px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .img15 {
    width: 99%;
  }
}
